.cards {
  width: 22rem;
  height: 50rem;
  border: 5px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  margin: 0 auto;
  margin-bottom: 2rem;
}

.boxImg {
  object-fit: cover;
  height: 750px;
}

.boxImg2 {
  object-fit: cover;
  height: 350px;
}

.containerStyle {
  background: url("../assets/Aboutbg.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.cardCol {
  flex: 1;
  display: flex;
  justify-content: center;
}

.cardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.card-body-about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.cardTitle,
.cardText {
  margin: 0;
}

.cardB {
  margin-top: auto;
}
