@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');


.carousel-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 900px;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-image-container {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 60rem;
  max-height: 50rem;
  padding: 20px;
  margin-top: 5rem;
}

.carousel-image {
  width: 100%;
  height: 30rem;
  border-radius: 13% 10% 10% 10% / 75% 75% 75% 75% ;
  border-top: 7px solid #ff00008e;
  border-bottom: 8px solid rgba(7, 189, 230, 0.523);
}

.carousel-text {
  font-family: 'Ubuntu Mono', monospace;
  width: 90%;
  height: 10rem;
  background-color: rgba(0, 0, 0, 0); 
  color: white;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 2px red;
  margin-top: 10px; 
}

.carousel-text h3 {
  margin: 1px;
  font-family: 'Orbitron', sans-serif;
}

.carousel-btn {
  /* top: 50%; */
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  /* text-align: center; */
}

.carousel-btn-prev {
  left: 10px;
}

.carousel-btn-next {
  right: 10px;
}