/* Import custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');

/* Carousel Container */

/* Main container for the carousel, setting position, size, and overflow */
.carousel-container {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: -220px auto; /* Negative margin to move carousel upwards */
  overflow: hidden;
}

/* Carousel Slides */

/* Flex container for individual slides, including transition effect */
.carousel-slide {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Container for images within each slide */
.carousel-image-container {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

/* Style for images within the carousel */
.carousel-image {
  max-width: 100%;
  height: auto;
}

/* Text within Carousel */

/* Styling for text box within each slide */
.carousel-text {
  font-family: 'Ubuntu Mono', monospace;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px; /* Adds space between the image and text */
}

/* Styling for heading within text box */
.carousel-text h3 {
  margin: 1px;
  font-family: 'Orbitron', sans-serif;
}

/* Carousel Navigation Buttons */

/* Base styles for prev/next buttons */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  text-align: center;
}

/* Positioning for the "previous" button */
.carousel-btn-prev {
  left: 10px;
}

/* Positioning for the "next" button */
.carousel-btn-next {
  right: 10px;
}