@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');

.foot-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.yfooter-logo {
  height: 90px;
  width: 90px;
  align-self: center;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

.top-btn {
  height: 90px;
  width: 90px;
  align-self: center;
  position: absolute;
  bottom: 0px;
  right: 165px;
}


.btn2-container {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

.aboutus-view-btn {
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(210, 18, 18, 0.532);
  color: white;
  width: 100px;
  margin-bottom: 15%;
  margin-right: 60px;
}