/* Import custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');

/* Footer Navigation Bar */

/* Flex container for the footer, fixed at the bottom of the page */
.foot-navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  background-size: cover;
  background-position: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Footer Logo */

/* Styles for the logo positioned in the footer */
.yfooter-logo {
  height: 90px;
  width: 90px;
  align-self: center;
  position: absolute;
  bottom: 0px;
  left: 10px;
}

/* Button Container */

/* Flex container for positioning the buttons within the footer */
.btn2-container {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* About Us Button */

/* Styles for the "About Us" button within the footer */
.aboutus-view-btn {
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(210, 19, 18);
  color: white;
  width: 100px;
  margin-bottom: 15%;
  margin-right: 60px;
}