/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');

.containerStyle {
  background-image: url('https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.cardStyle {
  width: 100%;
  padding: 1rem;
  background-color: dark;
  color: white;
  display: flex;
  flex-direction: column;
}

.cardStyle img {
  flex: 1;
  width: 100%;
}

.cardStyle h5,
.cardStyle h6 {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  margin-top: 0;
}

.cardStyle .ratingStyle {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(3, 157, 16, 0.5);
  color: white;
  border-radius: 0.25rem;
}

.cardStyle .text {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: white;
  margin-bottom: 0.5rem;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.search-input {
  border: 2px solid #ff0505;
  padding: 0.5rem;
}


.click-btn-container{
  position: bottom right;
  width: 100%;
  top: calc(50% + 14rem); /* Adjust the value 14rem so that the button is positioned under the carousel */
  text-align: center;
  bottom: 0;
}

.click-btn {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: white;
  background-color: rgb(7, 10, 82);
  display: inline-block;
}