.game-show-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background-image: url('https://images.unsplash.com/photo-1505506874110-6a7a69069a08?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80');
  background-size: cover;
  background-position: center;
}

.show-game-card-container {
  max-width: 80%;
  margin: auto;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.cardStyle h6 {
  margin-top: 0;
}

.show-game-card {
  width: 100%;
}

.show-cardStyle .show-ratingStyle {
  justify-content: flex-end;
  padding: 0.5rem;
  background-color: rgba(13, 247, 52, 0.5) !important;
  color: white;
  border-radius: 0.25rem;
}