@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');


.index-page{
  background-image: url("../assets/Indexbg.png");
  background-size: cover;
  background-position:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card-container {
  width: 20rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 8px #999;
  display: flex;
  flex-direction: column;
  margin: 0.5rem auto;
}

.card-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

.card-title {
  margin: 0.5rem 5%;
}

.cardStyle h5,
.cardStyle h6 {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  margin-top: 0;
}

.card-container .card-rating{
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(3, 157, 16, 0.5);
  color: white;
  border-radius: 0.25rem;
}

.card-container .card-subtitle{
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: white;
  padding-bottom: 3rem;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.search-input {
  border: 2px solid #ff0505;
  padding: 0.5rem;
}


.click-btn-container{
  width: 60%;
  text-align: center;
  border-radius: 5px;
  margin: 0.5rem auto;
  text-decoration: none;
  color: white;
  background-color: rgb(210, 19, 18);
  position: absolute;
  bottom: 0;
}

.click-btn {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: white;
  background-color: rgb(7, 10, 82);
  display: inline-block;
}