/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Ubuntu+Mono&display=swap');

.edit-btn-container{
  position: bottom right;
  width: 100%;
  top: calc(50% + 14rem); /* Adjust the value 14rem so that the button is positioned under the carousel */
  text-align: center;

}

.edit-btn {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: white;
  background-color: rgb(7, 10, 82);
  display: inline-block;
}

.cardStyle h5,
.cardStyle h6 {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  margin-top: 0;
}

.background-image{
  background-image: url('https://shorturl.at/ADMZ0');
}

.game-show-container {
  background-size:cover;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 1rem;
}


/* Show card */

.cardStyle-show{
  width: 100%;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  scale: 83%;
}

.cardStyle-show img {
  flex: 1;
  width: 100%;
}

.cardStyle-show h5,
.cardStyle-show h6 {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  margin-top: 0;
}

.cardStyle-show .ratingStyle {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(3, 157, 16, 0.5);
  color: white;
  border-radius: 0.25rem;
}

.cardStyle .text {
  font-family: 'Orbitron', sans-serif, 'Ubuntu Mono', monospace;
  color: white;
  margin-bottom: 0.5rem;
}