.login-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
  padding: space-around;
}

.signup-form {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20%;
  padding: space-around;
}