.foot-navbar {
  display: flex;
  background-image: url("./assets/GameVerseHeader.png");
  background-size: cover;
  background-position: center;
}

.yfooter-logo {
  height: 50px;
  width: 50px;
  border-radius: 10%;
  position: absolute;
  bottom: 5;
  height: 3rem;
  margin-block-start: -0.5%;
  margin-left: 0%;
}

.about-button {
  margin-left: 80%;
}