.header {
  display: flex;
  flex-direction: column;
  background-color: black;
  background-size: cover;
  position: sticky;
}
/* Footer container */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the right */
}

.navbar-text{
  align-items: center;
}

/* "About Us" link styling */
.nav-row{
  margin-right: 80%;
  justify-content: end;
}

/* Logo styling */
.gameverse-logo {
  height: 100px;
  width: 100px;
  margin-left: 50%;
  border-radius: 20%;
}

.yfooter-logo{
  height: 50px;
  width: 50px;
  border-radius: 10%;
  position: absolute;
  bottom: 5;
  height: 3rem;
  margin-block-start: -0.5%;
  margin-left: 2%;
}